{% extends '_layouts/layout_main' %}

{% set body_class = 'page-home forgotpassword' %}


{% block content %}
	<header class="bg-primary bg-gradient text-white">
		<div class="container px-4 text-center">
			<h1 class="fw-bolder">Welcome to Scrolling Nav</h1>
			<p class="lead">A functional Bootstrap 5 boilerplate for one page scrolling websites</p>
			<a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>
		</div>
	</header>
	<div class="container" style="margin-top:70px;">
		<div class="col-md-6 offset-3">
			<form method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('users/send-password-reset-email') }}
				{{ redirectInput('') }}
				<div class="form-group">
					<label for="loginName">Username or email</label>
					{{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, { id: 'loginName', autocomplete: 'username', class: 'form-control', }) }}
					{% if errors is defined %}
						{{ ul(errors, {class: 'errors'}) }}
					{% endif %}
				</div>
				<button type="submit" class="btn btn-primary" style="margin-top:20px;">Submit</button>
			</form>
			<p class="text-center">
				<a href="{{ url('/login') }}">Login Here</a>
			</p>
			<p class="text-center">
				<a href="{{ url('/') }}">Don't have an account? Register</a>
			</p>
		</div>
	</div>
{% endblock %}

